/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-color: rgb(122, 122, 255);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  color: white;
  width: fit-content;
  font-size: 3em;
  margin: auto;
  margin-top: 2rem;
}

#form{
  width: 40%;
  height: 16rem;
  margin: auto;
  margin-top: 4rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 4rem;
}

label{
  font-size: 1.5rem;
}

input{
  padding: 0.8rem 1rem;
  margin-left: 1rem;
  width: 50%;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

button{
  background-color: rgb(243, 223, 0);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

button:hover{
  transform: scale(1.1);
}

section + section{
  width: 40%;
  height: 10rem;
  margin: auto;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
